<div class="row">
  <h1>Estudios</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Estudio 1</h1> - <h3>(years)</h3>
      </li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eaque reprehenderit officia quae deserunt, accusantium facere eveniet, laudantium iure cum non, magni dolore modi possimus qui nobis. Ea, repudiandae iure?</p>
    </ul>
    <ul>
      <li>
        <h1>Estudio 2</h1> - <h3>(years)</h3>
      </li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eaque reprehenderit officia quae deserunt, accusantium facere eveniet, laudantium iure cum non, magni dolore modi possimus qui nobis. Ea, repudiandae iure?</p>
    </ul>
    <ul>
      <li>
        <h1>Estudio 3</h1> - <h3>(years)</h3>
      </li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eaque reprehenderit officia quae deserunt, accusantium facere eveniet, laudantium iure cum non, magni dolore modi possimus qui nobis. Ea, repudiandae iure?</p>
    </ul>
  </div>
</div>


<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Trabajo 1</h1> - <h3>(years)</h3>
      </li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eaque reprehenderit officia quae deserunt, accusantium facere eveniet, laudantium iure cum non, magni dolore modi possimus qui nobis. Ea, repudiandae iure?</p>
    </ul>
    <ul>
      <li>
        <h1>Trabajo 2</h1> - <h3>(years)</h3>
      </li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eaque reprehenderit officia quae deserunt, accusantium facere eveniet, laudantium iure cum non, magni dolore modi possimus qui nobis. Ea, repudiandae iure?</p>
    </ul>
    <ul>
      <li>
        <h1>Trabajo 3</h1> - <h3>(years)</h3>
      </li>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eaque reprehenderit officia quae deserunt, accusantium facere eveniet, laudantium iure cum non, magni dolore modi possimus qui nobis. Ea, repudiandae iure?</p>
    </ul>
  </div>
</div>

