<div class="row">
  <h1>Estudios</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul *ngFor="let educacion of educacionList">
      <li>
        <h1>{{educacion.escuela}}</h1> - <h3>{{educacion.inicio}}-{{educacion.fin}}</h3>
      </li>
        <p>{{educacion.titulo}}</p>
    </ul>

  </div>
</div>


<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul *ngFor="let trabajo of workList">
      <li>
        <h1>{{trabajo.trabajo}}</h1> - <h3>{{trabajo.inicio}}-{{trabajo.fin}}</h3>
      </li>
      <p>{{trabajo.tarea}}</p>
    </ul>
  </div>
</div>

