<div class="row">
  <div class="container">
    <div class="logo"><img src="../../../assets/fondo.jpg" alt="">
    </div>
    <div><h1>Bienvenidos a mi Portafolio</h1></div>
    <div class="redes">
        <a href="https://www.linkedin.com/in/nahuel-ezequiel-ginzo-6295541b0/" target="blank"><img src="../../../assets/linkedin.png" alt="" ></a>
        <a href="https://github.com/NahuelGinzo" target="top"><img src="../../../assets/github.png" alt="" ></a>
        <button type="button" class="btn btn-outline-light" >Ingresar</button>
    </div>

   </div>
</div>








